body {
  font-family: Arial, sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  text-align: center;
  padding: 11px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  background-color: #1C1C1C;
}

.a_header {
  color: white;
  border: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
}

.botao_voltar {
  margin: 5px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #1C1C1C;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botao_voltar:hover {
  background-color: #333333;
}

.pesquisar {
  display: flex;
  flex-direction: row;
  margin: 8px;
}

.imglupa {
  margin: 5px;
  width: 25px;
  height: 25px;
}

.barra_pesquisa {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: box-shadow 0.3s;
  background-color: #f2f2f2;
}

#cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 10px;
}

.card {
  height: 600px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.card img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card h1 {
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: #333;
  text-decoration: none;
  margin-top: 10px;
}

.card h2 {
  font-weight: bold;
  font-size: 18px;
  color: #333;
  text-decoration: none;
  margin-top: 10px;
}

.card p {
  font-weight: bold;
  font-size: 12px;
  color: #333;
  text-decoration: none;
  margin-top: 10px;
}

.card a {
  margin-top: 30px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #1C1C1C;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  background-color: #1C1C1C;
}

footer a {
  text-decoration: none;
  color: white;
}